{% extends 'ratings/base.html' %}
{% load staticfiles %} 
{% block content %}
<title>About Us</title>
<section id="feature" >
    <div class="container">
       <div class="center wow fadeInDown">
            <h2>The Need</h2>
            <p class="lead">The problems we are addressing</p>
        </div>

        <div class="row" align="center">
            <div class="features">
                <div class="row">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>Safety</h2>
                            <h3 align="justify">Matatu drivers often disobey basic traffic regulations by speeding, driving on sidewalks, going into oncoming traffic, or driving drunk.   Reckless matatus contribute to Kenya having the 15th highest rate of road fatalities per motor vehicle in the world. </h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-check"></i>
                            <h2>Quality</h2>
                            <h3 align="justify">Some Matatu drivers are safe and courteous, while others are not.  However, customers do not know which ones are good and which ones are not.  Plus, a customer does not know when the next “good” Matatu is going to arrive, so he/she ends up getting on the “bad” Matatu instead of waiting and risking that the “good” one does not come for hours.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-clock-o"></i>
                            <h2>Schedules</h2>
                            <h3 align="justify">Matatus do not run on schedules and traffic makes the frequencies of arrivals highly irregular.  So, it is impossible to know where matatus are and when they’ll arrive.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-road"></i>
                            <h2>Traffic</h2>
                            <h3 align="justify">Nairobi consistently ranks among the world’s top ten worst cities for traffic.  At the end of a long workday, accurate traffic reports would help residents decide whether or not they should leave their offices immediately or wait until traffic clears.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-compass"></i>
                            <h2>Navigation</h2>
                            <h3 align="justify">Until the Digital Matatus project mapped the full system last year, there had never been a single map of the entire bus system.  Even with the new map, there are literally hundreds of stops and almost 150 routes.  It is still very difficult to navigate the system.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-money"></i>
                            <h2>Maintenance/Costs</h2>
                            <h3 align="justify">Matatu owners do not want their drivers to drive recklessly, as going on sidewalks or swerving into oncoming traffic increases wear-and-tear and the risk of accidents.  The insurance companies also want to know if the vehicles they are covering are driven in a safe manner or not, so that they can adjust the rates accordingly.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div>
            </div><!--/.services-->
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#feature-->

<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>The Solution</h2>
            <p class="lead">How Smart Matatus improves the Nairobi transporation system</p>
        </div>

        <div class="row" align="center">
            <div class="col-md-4 col-sm-6">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{% static 'ratings/images/portfolio/recent/star.png' %}" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Rating System</a> </h3>
                            <p>The system will allow customers to identify the good drivers, punish the bad drivers (through loss of business), and serve as a mechanism to encourage safe driving.</p>
                        </div> 
                    </div>
                </div>
            </div>   

            <div class="col-md-4 col-sm-6">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{% static 'ratings/images/portfolio/recent/compass.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Directions</a></h3>
                            <p>Customers could enter their starting and end points, we’d tell them the fastest and easiest matatu route(s) to take- just like Google Maps does for US public transport.</p>
                        </div> 
                    </div>
                </div>
            </div> 

            <div class="col-md-4 col-sm-6">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{% static 'ratings/images/portfolio/recent/GPS.jpg' %}" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">GPS Tracking System</a></h3>
                            <p>We’d put a tracker in every Matatu to locate them 24/7 and estimate arrival times.  The hundreds of trackers would also help estimate traffic.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>   

        <div class="row" align="center">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <h2>Rating System</h2>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <h2>Directions</h2>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <h2>GPS Tracking System</h2>
                        </div>
                    </div><!--/.col-md-4-->

                </div>
    </div><!--/.container-->
</section><!--/#recent-works-->

<section style="background-color: black">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2 style="color: white">Scale Up Plan</h2>
            <p style="color: white" class="lead">How we will roll out the project in phases</p>
        </div>
        <div class="row">
                <div class="accordion">
                    <div class="panel-group" id="accordion1">
                      <div class="panel panel-default">
                        <div class="panel-heading active">
                          <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                              Phase #1: Rating System (MPV)
                              <i class="fa fa-angle-right pull-right"></i>
                            </a>
                          </h3>
                        </div>

                        <div id="collapseOne1" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div class="media accordion-inner">
                                    <div class="media-body">
                                         <p>The easiest part of the system to implement is the quality rating system (basically, Yelp for matatus).  This step does not require the cooperation from anybody other than the customers.  I already set up a basic, functional version at smartmatatus.com, using the list of matatu routes from the Digital Matatus project. I do not have the license plate numbers of the matatus, so I need customers to start using the platform and organically adding/rating them. Over time, every matatu will be rated and we will compile a database of every matatu in Nairobi.  To advertise, I’d start a publicity campaign, using my contacts at Nairobi news agencies, paying for ads, and hiring boots on the ground to spread the word at different matatu stops.</p>
                                    </div>
                              </div>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                              Phase #2: Directions
                              <i class="fa fa-angle-right pull-right"></i>
                            </a>
                          </h3>
                        </div>
                        <div id="collapseTwo1" class="panel-collapse collapse">
                          <div class="panel-body">
                                        Using data from the Digital Matatus project, I already added the GPS coordinates for every Matatu stop in Nairobi to Google Maps (click the Directions link on the site).  With a few more weeks of coding, I could overlay this information onto Google Maps to give customers directions after they enter their starting and end points.                              </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                              Phase #3: GPS Tracking System
                              <i class="fa fa-angle-right pull-right"></i>
                            </a>
                          </h3>
                        </div>
                        <div id="collapseThree1" class="panel-collapse collapse">
                          <div class="panel-body">
                            <p align="justify">The most critical and challenging part of the project is getting GPS trackers in each Matatu.  The path of least resistance would be through the insurance companies and owners, who both want to track the drivers to identify bad behavior.  If the owners/insurance companies simply mandated that their drivers allow GPS trackers in their vehicles, then we could get decent uptake.  
                            <br>
                            <br>
                            Another option would be approaching government to get them to mandate GPS trackers, as there is a precedent for government intervention in the Matatu space.  John Michuki, the former Minister for Transport and Communications, instituted the “Michuki Rules” in the early 2000’s.  The rules required all matatus to install speed governors, passenger safety belts, operate in clearly defined routes, and to carry a specified number of passengers.  Since Mr. Michuki’s death in 2012, these rules have not been enforced, but with proper lobbying, we could get government to intervene again on our behalf.
                            <br>
                            <br>
                            In the long run, however, we’d prefer to get buy in from the drivers themselves and not just enforcement from above.  To do so, I’d start by approaching the “good” Matatu drivers who want to differentiate themselves based on quality.  If the GPS trackers lead to increase demand for these quality matatus, then other Matatu drivers might see their value and follow suit.
                            </p>                              </div>
                        </div>
                      </div>
                    </div><!--/#accordion1-->
                </div>
            </div>

        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#middle-->

<section id="content">
    <div class="container">
       <div class="center wow fadeInDown">
            <h2>Funding/Revenue</h2>
            <p class="lead">How we will finance the project</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 wow fadeInDown">
               <div class="tab-wrap"> 
                    <div class="media">
                        <div class="parrent pull-left">
                            <ul class="nav nav-tabs nav-stacked">
                                <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Source 1</a></li>
                                <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Source 2</a></li>
                                <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Source 3</a></li>
                            </ul>
                        </div>

                        <div class="parrent media-body">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tab1">
                                    <div class="media">
                                        <div class="media-body">
                                            <h2>NGOs/Universities/Foundations</h2>
                                            <p>Already Georgetown University, USAID, MIT, the Center for Sustainable Urban Development (CSUD), and the University of Nairobi, have all backed projects related to improving the Nairobi’s matatu system.  We could likely raise money from them to start the project.</p>                                            
                                        </div>
                                    </div>
                                </div>

                                 <div class="tab-pane fade active in" id="tab2">
                                    <div class="media">
                                        <div class="media-body">
                                            <h2>Matatu Owners + Insurance Companies</h2>
                                            <p>As stated, matatu owners and insurance companies want to track the matatus, so might be willing to pay for the purchase and installation of the GPS trackers.</p>                                                
                                        </div>
                                    </div>
                                 </div>

                                <div class="tab-pane fade" id="tab3">
                                    <div class="media">
                                        <div class="media-body">
                                            <h2>Users (Questionable)</h2>
                                            <p>As the project is designed for public benefit, I would be very hesitant to charge customers for using the site. In the long run, however, we might offer users the ability to pay to reserve bus seats in advance and the site could take a small fraction of those sales.</p>                                        
                                        </div>
                                </div>

                            </div> <!--/.tab-content-->  
                        </div> <!--/.media-body--> 
                    </div> <!--/.media-->     
                </div><!--/.tab-wrap-->               
            </div><!--/.col-sm-6-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#content-->
<section id="feature" >
   <div class="container">
        <div class="center wow fadeInDown">
            <h2>Challenges/Concerns</h2>
            <p class="lead">The greatest risks to the project's success</p>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="media-body">
                        <h3 class="media-heading" align="center">Driver Resistance</h3>
                        <p align="justify">Drivers generally do not want their owners to know how recklessly they are driving or how much money they are really making.  So, many would resist GPS trackers.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="media-body">
                        <h3 class="media-heading" align="center">Available Seating Information</h3>
                        <p align="justify">From talking with Adam White at Digital Matatus, I learned that another big need for customers is knowing not only when the next matatu is arriving, but if it has available seats.  It’d be hard to get that info without the driver’s help. Unfortunately, drivers are incentivized to lie to underreport their revenue to the owners. A potential solution would be to allow customers to pay extra to pre-book seats on the matatu and then drivers would be incentivized to be honest about how many seats are available.</p>
                    </div>
                </div>
            </div> 
            
            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="media-body">
                        <h3 class="media-heading" align="center">Gangs</h3>
                        <p align="justify">Criminal gangs run some of the matatu routes.  They might attack users who give them negative ratings. For this reason, we’d keep the ratings anonymous.</p>
                    </div>
                </div>
            </div>

                                    
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->

{% endblock %}